 <div class="blog-card">

    <div class="card-title">
      <a href="" class="title-content" id="title-content">Why MVC is so important</a>

      <p class="title-content">posted by Xandromus on 5/8/2020</p>

    </div>
    

    <div class="card-body">
      <p>
        MVC allows developers to maintain a true separation of concerns,
        devising their code between the Model layer for data, the View layer for 
        design, and the Controller layer for application logic
      </p>
    </div>
  </div>
