<div class="comment-card">

        <div class="comment-title">

        </div>


        <div class="comment-body">
            <p id="comment-content">
                {{description}}
            </p>

            <p id="comment-tag">
                -{{user.username}}, {{format_date date_created}}
            </p>
        </div>
    </div>