<form class="form login-form" id="signup">
    <h2>Create New Post</h2>

    <div class="form-group " id="post-title-form">
      <label for="username-login">Title</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group" id="post-content-form">
      <label for="password-login">Content</label>
      <input class="form-input" type="password" id="post-content" />
    </div>
    <div class="form-group">
      <button class="button" type="submit" id="button">Create</button>
    </div>
  </form>