<div class="myblog-post">
    <a class="myblog-post-content" data-id="{{id}}" id="myblog-post-content" href="/update">{{title}}</a>
    <p class="myblog-post-content">{{format_date date_created}}</p>
</div>