  <form class="form login-form" id="signup" >
    <h2>Edit Post</h2>

    <div class="form-group " id="post-title-form">
      <label for="username-login">Title</label>
      <input class="form-input" type="text" id="post-title" value="{{title}}" />
    </div>
    <div class="form-group" id="post-content-form">
      <label for="password-login">Content:</label>
      <input class="form-input" type="text" id="post-content" value="{{content}}"/>
    </div>
    <div class="form-group">
      <button class="button" type="submit" id="update-button" data-id="{{id}}">Update Post</button>
    </div>
    <div class="form-group">
      <button class="button" type="submit"  id="delete-button" data-id="{{id}}">Delete</button>
    </div>
  </form>

  <script src="/js/edit.js"></script>