<form class="form login-form" id="signup">
    <h2>Sign Up</h2>

    <div class="form-group " >
      <label for="username-login">Username</label>
      <input class="form-input" type="text" id="username-login" />
    </div>
    <div class="form-group" >
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="button" type="submit" id="login-button">Sign Up!</button>
    </div>

  </form>

  <script src="./js/signup.js"></script>