<div class="blog-card">

    <div class="card-title">
      <p class="title-content" id="title-content">{{title}}</p>

      <p class="title-content">posted by {{user.username}}  on {{format_date date_created}}</p>

    </div>
    

    <div class="card-body">
      <p>
       {{content}}
      </p>
    </div>
  </div>

  {{#each comments}}
  {{> commentcard}}
  {{/each}}



    