<div class="blog-card">

    <div class="card-title">
      <p class="title-content" id="title-content"></p>

      <p class="title-content">posted by  on </p>

    </div>
    

    <div class="card-body">
      <p>
       
      </p>
    </div>
  </div>


    <div class="comment-card">

        <div class="comment-title">

        </div>


        <div class="comment-body">
            <p id="comment-content">
                
            </p>

            <p id="comment-tag">
                -lorentino, 5/8/2020
            </p>
        </div>
    </div>