* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d2f3ca;
}

p {
  color: #665e55;
  font-size: 16px;
}

header {
  font-family: 'Trebuchet Ms', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #282d2b;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

nav {
  padding-top: 4%;
  padding-left: 4%;
}

a {
  text-decoration: none;
  margin-right: 7%;
  color: #d2f3ca;

}
a:hover{
  color: #5151df
}

h1 {
  margin-left: 4%;
  margin-bottom: 4%;
  padding-left: 4%;
  box-sizing: content-box;
  width: 21%;
  padding: 0.5% 0.5% 0.5% 4%;
  background-color: #d2f3ca;
  box-shadow: 5px 5px #828d7f;
  border-radius: 10px;
  
}

h2 {
  margin-bottom: 1%;
  padding: 1%;
  background-color: #282d2b;
  color: #d2f3ca;
}

#signup {
    width: 95%;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    border: 1.5px solid #020202;
    box-sizing: border-box;
}

.form-group {
  padding: 10px;
}

.form-input {
  width: 100%;
  padding: 7px;
  margin-bottom: 1%;
}

#password {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#password-login{
  margin-bottom: 0px;
}

.button {
  border: 1px #b7b3af;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  color: #ffffff;
  background-color: #b7b3af;
}

.button:hover {
  background-color:#4f5754;
  cursor: pointer;
}

#signup-link {
  color: black;
  padding: 0px 0px 0px 10px;
}

#signup-link:hover {
  color: #5151df;
}

.blog-card {
  width: 95%;
  height: 100%;
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  border: 1.5px solid #020202;
  box-sizing: content-box;
}

.card-title {
  background-color: #282d2b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.title-content {
  color: #d2f3ca;
  padding: 0%;
  margin: 1.5%;
}

#title-content {
  font-weight: 700;
  font-size: larger;
}

p {
  padding: 1.5%;
}

.comment-form{
  margin-bottom: 1%;
  padding: 2%;
  background-color: #282d2b;
}

.myblog-post{
  box-sizing: content-box;
  border: 1.5px solid #6a7671;
  width: 95%;
  height: 100%;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #6a7671;
  border-radius: 10px;
}

.myblog-post-content{
  color: #d2f3ca;
}

#myblog-post-content{
  padding: 1.5%;
}

main{
  display: flex;
  flex-direction: column;
}

.new-post-button{
  box-sizing: border-box;
  margin: 20% 40% 0% 45% ;
  border: 1.5px solid   #282d2b;
  width: fit-content;
  padding: 0.5% 1.5% 0.5% 1.5%;
  background-color: #282d2b;
  border-radius: 10px;
  color: #d2f3ca;
}

.new-post-button:hover{
  color: #5151df;
  cursor: pointer;
  transition: 0.4ms;
}

#post-title-form{
  padding-bottom: 0%;
}

#post-content-form{
  padding-top: 0%;
}

#post-content{
padding-bottom: 3%;
}










































